// COLORS

$color-primary: #436368;
$color-primary--dark: #06181B;
$color-primary--txt: #DDECF0;
$color-secondary: #D9EBEB;
$color-secondary--dark: #B5D0D2;
$color-secondary--txt: #213132;
$color-accent: #46C4C7;
$color-accent--dark: #1E85C4;
$color-accent--txt: #FFFFFF;
$color--lightest: #FFFFFF;
$color--darkest: $color-primary--dark;
$color-paper: #F7F8F9;
$color-paper--dark: rgb(236, 244, 247);
$color-gray--medium: #ECEEEF;
//SPACES
$spaces: (
  'default':.5rem,
  '0_25':.125rem,
  '0_5':.25rem,
  '2x':1rem,
	'3x':1.5rem,
  '4x':2rem,
  '6x':3rem,
);
//TIPOGRAPHY
$font-primary: 'Roboto', sans-serif;
$font-size: (
  'default':16px,
  'xs':.75em,
  'sm':.87em,
  'lg':1.125em,
  'xl':2em
);
//TRANSITIONS
$transitions: (
  'default': .4s ease-out,
  'super-fast':.1s ease-out,
  'fast':.2s ease-out,
  'slow':.6s ease-out,
  'none':none,
);
$mq-breakpoints: (
  mobile:  320px,
  tablet:  768px,
  desktop: 1024px,
  wide:    1366px
);
$displays: (
  none,
  block,
  inline-block,
  flex
);
